langchain
python-dotenv
langchain-openai
beautifulsoup4
arxiv
pymupdf
duckduckgo-search
wikipedia
faiss-cpu
openai
validators
youtube_transcript_api
unstructured
gradio
langchain_groq
langchain_community
numexpr
